Repository CA-git-com-co/ACGS, changes with the owners that .github/CODEOWNERS names for each.
All owners: @acgs-maintainers, @acgs-docs-team, @acgs-platform-team, @acgs-security-team, @acgs-devops-team, @acgs-api-team, @acgs-service-owners, @acgs-sre-team, @acgs-operations-team, @acgs-architecture-team, @acgs-compliance-team, @acgs-auth-team, @acgs-ai-team, @acgs-integrity-team, @acgs-verification-team, @acgs-governance-team, @acgs-policy-team, @acgs-evolution-team, @acgs-performance-team, @acgs-qa-team, @acgs-data-team, @acgs-legal-team, @acgs-product-team

.github/CODEOWNERS:

# ACGS Code Owners - Documentation Review Requirements
# Constitutional Hash: cdd01ef066bc6cf2
#
# This file defines mandatory reviewers for different parts of the ACGS codebase
# to ensure proper documentation review and constitutional compliance.
#
# Format: path/pattern @reviewer1 @reviewer2
#
# Global fallback - requires at least one review for any change
* @acgs-maintainers

# Documentation - Requires documentation team review
docs/ @acgs-docs-team @acgs-platform-team
README.md @acgs-docs-team @acgs-platform-team

# Configuration Documentation - Requires platform and security review
docs/configuration/ @acgs-platform-team @acgs-security-team
docs/deployment/ @acgs-devops-team @acgs-platform-team

# API Documentation - Requires API team and service owner review
docs/api/ @acgs-api-team @acgs-service-owners

# Operations Documentation - Requires SRE and operations team review
docs/operations/ @acgs-sre-team @acgs-operations-team

# Architecture Documentation - Requires architecture team review
docs/architecture/ @acgs-architecture-team @acgs-platform-team

# Security Documentation - Requires security team review
docs/security/ @acgs-security-team @acgs-compliance-team

# Infrastructure - Requires DevOps and security review
infrastructure/ @acgs-devops-team @acgs-security-team
docker-compose*.yml @acgs-devops-team @acgs-platform-team
Dockerfile* @acgs-devops-team @acgs-security-team

# Service Configuration - Requires service owners and platform review
services/*/config/ @acgs-service-owners @acgs-platform-team
services/*/docker/ @acgs-devops-team @acgs-service-owners

# Core Services - Requires service-specific review
services/auth/ @acgs-auth-team @acgs-security-team
services/constitutional_ai/ @acgs-ai-team @acgs-security-team
services/integrity/ @acgs-integrity-team @acgs-security-team
services/formal_verification/ @acgs-verification-team @acgs-security-team
services/governance_synthesis/ @acgs-governance-team @acgs-security-team
services/policy_governance/ @acgs-policy-team @acgs-security-team
services/evolutionary_computation/ @acgs-evolution-team @acgs-performance-team

# Configuration Files - Requires platform and security review
config/ @acgs-platform-team @acgs-security-team
*.env* @acgs-security-team @acgs-platform-team
pyproject.toml @acgs-platform-team @acgs-devops-team
pytest.ini @acgs-qa-team @acgs-platform-team

# GitHub Workflows - Requires DevOps and security review
.github/workflows/ @acgs-devops-team @acgs-security-team
.github/CODEOWNERS @acgs-platform-team @acgs-security-team

# Performance and Monitoring - Requires SRE team review
monitoring/ @acgs-sre-team @acgs-operations-team
grafana/ @acgs-sre-team @acgs-operations-team
prometheus/ @acgs-sre-team @acgs-operations-team

# Database - Requires data team and security review
database/ @acgs-data-team @acgs-security-team
migrations/ @acgs-data-team @acgs-platform-team

# Scripts and Tools - Requires platform team review
scripts/ @acgs-platform-team @acgs-devops-team
tools/ @acgs-platform-team @acgs-devops-team

# Validation Tools - Requires documentation and platform review
tools/validation/ @acgs-docs-team @acgs-platform-team

# Security-sensitive files - Requires security team review
**/secrets/ @acgs-security-team
**/certs/ @acgs-security-team
**/keys/ @acgs-security-team

# Constitutional Compliance Files - Requires security and compliance review
**/*constitutional* @acgs-security-team @acgs-compliance-team
**/*compliance* @acgs-security-team @acgs-compliance-team

# Performance-critical files - Requires performance team review
**/*performance* @acgs-performance-team @acgs-sre-team
**/*benchmark* @acgs-performance-team @acgs-qa-team

# Test files - Requires QA team review
tests/ @acgs-qa-team @acgs-service-owners
**/test_* @acgs-qa-team
**/*_test.* @acgs-qa-team

# Package and dependency files - Requires security review
requirements*.txt @acgs-security-team @acgs-platform-team
package*.json @acgs-security-team @acgs-platform-team
Pipfile* @acgs-security-team @acgs-platform-team
poetry.lock @acgs-security-team @acgs-platform-team

# License and legal files - Requires legal review
LICENSE* @acgs-legal-team
NOTICE* @acgs-legal-team
COPYRIGHT* @acgs-legal-team

# Release and changelog files - Requires product and platform review
CHANGELOG* @acgs-product-team @acgs-platform-team
RELEASE* @acgs-product-team @acgs-platform-team

# Team Definitions (GitHub teams should be created to match these)
#
# @acgs-maintainers - Core maintainers with overall repository access
# @acgs-docs-team - Documentation team responsible for content quality
# @acgs-platform-team - Platform engineering team
# @acgs-security-team - Security engineering team
# @acgs-devops-team - DevOps and infrastructure team
# @acgs-api-team - API design and integration team
# @acgs-service-owners - Service owners and developers
# @acgs-sre-team - Site reliability engineering team
# @acgs-operations-team - Operations and support team
# @acgs-architecture-team - Architecture and design team
# @acgs-compliance-team - Compliance and audit team
# @acgs-auth-team - Authentication service team
# @acgs-ai-team - Constitutional AI service team
# @acgs-integrity-team - Integrity service team
# @acgs-verification-team - Formal verification service team
# @acgs-governance-team - Governance synthesis service team
# @acgs-policy-team - Policy governance service team
# @acgs-evolution-team - Evolutionary computation service team
# @acgs-performance-team - Performance engineering team
# @acgs-qa-team - Quality assurance team
# @acgs-data-team - Data engineering team
# @acgs-legal-team - Legal and compliance team
# @acgs-product-team - Product management team

# Constitutional Hash Validation
# All changes must maintain constitutional hash: cdd01ef066bc6cf2
# Security team has override authority for constitutional compliance issues

chore(deps): update vulnerable dependencies
  requirements-updated.txt
Owners: @acgs-security-team, @acgs-platform-team

chore(deps): update vulnerable dependencies
  requirements-updated.txt
Owners: @acgs-security-team, @acgs-platform-team

feat: Complete arXiv paper optimization and compilation with performance standardization
  docs/research/arxiv_submission_package/main.aux
  docs/research/arxiv_submission_package/main.out
  docs/research/arxiv_submission_package/main.pdf
  docs/research/arxiv_submission_package/main.tex
  docs/research/arxiv_submission_package/paper_improvements_summary.md
  docs/research/arxiv_submission_package/performance_update_summary.md
Owners: @acgs-docs-team, @acgs-platform-team, @acgs-performance-team, @acgs-sre-team

chore(deps): update vulnerable dependencies
  requirements-updated.txt
Owners: @acgs-security-team, @acgs-platform-team

feat: ACGS-2 CI/CD Pipeline Production Optimization
  .claudedocs/workflow_optimization_summary.md
  .github/workflows/advanced-caching.yml
  .github/workflows/deployment-consolidated.yml
  .github/workflows/main-ci-cd.yml
  .github/workflows/performance-monitoring.yml
  .github/workflows/security-consolidated.yml
  .github/workflows/testing-consolidated.yml
  .gitleaks.toml
  Dockerfile
  docker-compose.test.yml
  tests/integration/test_basic_integration.py
  tests/integration/test_comprehensive_monitoring.py
  tests/integration/test_production_deployment.py
  tests/integration/test_security_quality_gates.py
  tests/integration/test_workflow_validation.py
Owners: @acgs-maintainers, @acgs-devops-team, @acgs-security-team, @acgs-performance-team, @acgs-sre-team, @acgs-platform-team, @acgs-qa-team

fix: GitHub Actions workflow errors
  .github/workflows/deployment-consolidated.yml
  .github/workflows/performance-monitoring.yml
Owners: @acgs-devops-team, @acgs-security-team, @acgs-performance-team, @acgs-sre-team

fix: resolve f-string line break issue in performance monitoring workflow
  .github/workflows/performance-monitoring.yml
Owners: @acgs-performance-team, @acgs-sre-team

fix: Address critical GitHub Actions workflow failures and implement comprehensive improvements
  .claudedocs/workflow_improvements_summary.md
  .github/workflows/main-ci-cd.yml
  .github/workflows/security-consolidated.yml
  .github/workflows/testing-consolidated.yml
  tools/validation/workflow_validation.py
Owners: @acgs-maintainers, @acgs-devops-team, @acgs-security-team, @acgs-docs-team, @acgs-platform-team

fix: Address critical GitHub Actions test failures (redis-cli, pytest plugins, postgres role)
  .claudedocs/workflow_critical_fixes.md
  .github/workflows/main-ci-cd.yml
  .github/workflows/testing-consolidated.yml
Owners: @acgs-maintainers, @acgs-devops-team, @acgs-security-team

feat: Implement comprehensive service-to-service integration and test framework
  infrastructure/docker/docker-compose.acgs.yml
  tests/CLAUDE.md
  tests/README.md
  tests/e2e/IMPLEMENTATION_SUMMARY.md
  tests/e2e/README.md
  tests/e2e/docker/docker-compose.e2e.yml
  tests/e2e/docker/prometheus.yml
  tests/focused_integration_test.py
  tests/integration/CLAUDE.md
  tests/integration/test_constitutional_workflows.py
  tests/integration/test_service_integration.py
  tests/load_testing/README.md
  tests/load_testing/docker-compose.yml
  tests/load_testing/monitoring/prometheus.yml
  tests/mock_service_test.py
  tests/performance/CLAUDE.md
  tests/performance/MIDDLEWARE_BASELINE_SUMMARY.md
  tests/performance/test_performance_requirements.py
  tests/run_all_tests.py
  tests/scripts/__init__.py
  tests/security/CLAUDE.md
  tests/security/README.md
  tests/test_service_deployment_validation.py
Owners: @acgs-devops-team, @acgs-platform-team, @acgs-qa-team, @acgs-service-owners

security: Complete vulnerability remediation project (67% reduction)
  SECURITY_REMEDIATION_FINAL_REPORT.md
  batch_moderate_low_vulnerabilities.py
  security_remediation_plan.md
Owners: @acgs-maintainers
