Repository CA-git-com-co/ACGS, changes with the owners that .github/CODEOWNERS names for each.
All owners: @acgs-maintainers, @acgs-docs-team, @acgs-platform-team, @acgs-security-team, @acgs-devops-team, @acgs-api-team, @acgs-service-owners, @acgs-sre-team, @acgs-operations-team, @acgs-architecture-team, @acgs-compliance-team, @acgs-auth-team, @acgs-ai-team, @acgs-integrity-team, @acgs-verification-team, @acgs-governance-team, @acgs-policy-team, @acgs-evolution-team, @acgs-performance-team, @acgs-qa-team, @acgs-data-team, @acgs-legal-team, @acgs-product-team

docs: Auto-update cross-references for file moves
  .cross_reference_cache.json
  docs/architecture/ACGS_R_MARKDOWN_ANALYSIS_AUDIT_REPORT.md
Owners: @acgs-maintainers, @acgs-architecture-team, @acgs-platform-team

fix: Update remaining documentation and resolve submodule references
  docs/architecture/ACGS_PRODUCTION_OPTIMIZATION_ROADMAP.md
Owners: @acgs-architecture-team, @acgs-platform-team

docs: Final documentation updates post-PDF regeneration
  docs/WORKFLOW_OPTIMIZATION_REPORT.md
  docs/architecture/ACGS_PAPER_UPDATE_SUMMARY.md
Owners: @acgs-docs-team, @acgs-platform-team, @acgs-architecture-team

docs: Complete workflow modernization report update
  docs/WORKFLOW_MODERNIZATION_REPORT.md
Owners: @acgs-docs-team, @acgs-platform-team

feat: Integrate Claude-MCP-ACGS multi-agent coordination system
  .env.template
  CLAUDE.md
  DEPLOYMENT.md
  docker-compose.yml
  docs/coordination-policy.md
  docs/integration/CLAUDE_MCP_ACGS_INTEGRATION.md
  docs/integration/INTEGRATION_SUMMARY.md
  enhanced_system_prompt.md
  scripts/validate_claude_mcp_integration.sh
  system_prompt_improvements.md
Owners: @acgs-security-team, @acgs-platform-team, @acgs-maintainers, @acgs-devops-team, @acgs-docs-team

update
  acgs_constitutional_compliance_dashboard.json
  monitoring-stack.yml
  monitoring/alert_rules.yml
  monitoring/alertmanager.yml
  monitoring/docker-compose.yml
  monitoring/monitoring-stack.yml
  monitoring/prometheus.yml
  performance_regression_detector.py
  performance_regression_report.txt
  services/core/context/context_service/main.py
  setup_grafana_dashboard.py
  test_execution_and_pdf_update_summary.md
  validate_alerting_system.py
  validate_all_services.py
Owners: @acgs-security-team, @acgs-compliance-team, @acgs-maintainers, @acgs-sre-team, @acgs-operations-team, @acgs-performance-team, @acgs-qa-team

update
  final_system_validation_report.py
Owners: @acgs-maintainers

update
  acgs_final_validation_report.txt
Owners: @acgs-maintainers

docs: Auto-update cross-references for file moves
  .cross_reference_cache.json
  docs/research/arxiv_submission_package/main.tex
Owners: @acgs-maintainers, @acgs-docs-team, @acgs-platform-team

Remove LFS configuration and finalize research archives
  .gitattributes
  deployments/production/deploy-infrastructure-green.sh
  docs/architecture/README.md
  infrastructure/docker/README.md
  scripts/disaster-recovery-infrastructure.sh
  scripts/emergency-rollback.sh
  scripts/load-balancer-switch.sh
  scripts/security-response-automation.sh
  scripts/update-deployment-records.sh
Owners: @acgs-maintainers, @acgs-architecture-team, @acgs-platform-team, @acgs-devops-team, @acgs-security-team

✅ Complete quality validation of ACGS research paper collection
  docs/research/VALIDATION_SUMMARY.md
  docs/research/conversion_tools/detailed_validation_report.md
  docs/research/conversion_tools/quality_validator.py
  docs/research/papers_metadata/quality_validation_report.json
Owners: @acgs-docs-team, @acgs-platform-team

Update paper metrics with live production data
  docs/research/arxiv_submission_package/main.tex
  mapping_table.yml
  metrics_update_report.md
  update_paper_metrics.py
Owners: @acgs-docs-team, @acgs-platform-team, @acgs-maintainers

Step 4: Refactor paper content with live metrics
  docs/research/arxiv_submission_package/main.tex
  metrics_update_report.md
Owners: @acgs-docs-team, @acgs-platform-team, @acgs-maintainers

feat: ACGS production deployment completion with constitutional compliance (hash: cdd01ef066bc6cf2)
  docs/research/arxiv_submission_package/main.tex.backup.20250707_122205
  services/core/constitutional-ai/ac_service/app/config/app_config.py
  services/shared/middleware/prometheus_metrics_middleware.py
Owners: @acgs-docs-team, @acgs-platform-team, @acgs-security-team, @acgs-compliance-team, @acgs-maintainers

docs: Add final completion reports and update architecture guides
  ACGS_IMPROVEMENT_IMPLEMENTATION_COMPLETION_REPORT.md
  STEP_4_COMPLETION_SUMMARY.md
  docs/architecture/ACGS_UNIFIED_ARCHITECTURE_GUIDE.md
  docs/development/ACGS_DEVELOPER_ONBOARDING_GUIDE.md
  docs/standards/ACGS_DOCUMENTATION_STANDARDS.md
Owners: @acgs-maintainers, @acgs-architecture-team, @acgs-platform-team, @acgs-docs-team

docs: Update API documentation for authentication and constitutional AI
  docs/api/authentication.md
  docs/api/constitutional-ai.md
  docs/api/governance_synthesis.md
Owners: @acgs-api-team, @acgs-service-owners, @acgs-security-team, @acgs-compliance-team

fix(core-compose): correct volume mounts for constitutional services
  docker-compose.postgresql.yml
  infrastructure/docker/docker-compose.acgs.yml
  infrastructure/docker/docker-compose.core.yml
  infrastructure/opa/docker-compose.opa.yml
  services/shared/streaming/docker-compose.kafka.yml
Owners: @acgs-devops-team, @acgs-platform-team

feat(infra): add missing infrastructure scripts and agent-hitl service
  infrastructure/scripts/docker/haproxy.cfg
  infrastructure/scripts/docker/init-db.sql
  services/core/agent-hitl/Dockerfile
Owners: @acgs-platform-team, @acgs-devops-team, @acgs-security-team

Add paper validation report parser script and generated issues YAML
  scripts/paper_tools/paper_issues.yml
  scripts/paper_tools/parse_validation_report.py
Owners: @acgs-platform-team, @acgs-devops-team

feat: Add final validation report and publication ready changelog
  CHANGELOG.md
  reports/paper_validation/final_validation.md
Owners: @acgs-product-team, @acgs-platform-team, @acgs-maintainers

Complete ACGS optimization project - all tasks completed
  .gitlab-ci_20250701_000659.yml
  Jenkinsfile_20250701_000659
  REORGANIZATION_REPORT.md
  docs/development/PHASE_3_OPERATIONAL_EXCELLENCE_IMPLEMENTATION_PLAN.md
  docs/development/TEST_INITIAL.md
  docs/development/system_prompt_improvements.md
  requirements_analysis.json
  scripts/monitoring/metrics_scraper.py
  scripts/monitoring/performance_regression_detector.py
  volume_mount_triage.csv
Owners: @acgs-maintainers, @acgs-docs-team, @acgs-platform-team, @acgs-devops-team, @acgs-performance-team, @acgs-sre-team

feat: ACGS-2 comprehensive cleanup and documentation update
  .github/workflows/security-scan.yml
  ACGS_SECURITY_VULNERABILITY_REMEDIATION_PLAN.md
  requirements-security.txt
  scripts/security/emergency_security_patch.py
  scripts/security/vulnerability_monitor.py
Owners: @acgs-devops-team, @acgs-security-team, @acgs-maintainers, @acgs-platform-team

Claude PR Assistant workflow
  .github/workflows/claude.yml
Owners: @acgs-devops-team, @acgs-security-team

Claude Code Review workflow
  .github/workflows/claude-code-review.yml
Owners: @acgs-devops-team, @acgs-security-team

fix: resolve all bugs and errors in ACGS Formal Verification Service
  .github/workflows/acgs-ci-cd.yml
  .github/workflows/ci.yml
  .github/workflows/unified-ci.yml
  .gitignore
  scripts/update_workflows_to_self_hosted.py
  services/platform_services/formal_verification/__init__.py
  services/platform_services/formal_verification/conftest.py
  services/platform_services/formal_verification/core/adversarial_robustness.py
  services/platform_services/formal_verification/docs/BUG_FIXES_REPORT.md
  services/platform_services/formal_verification/pytest.ini
  services/platform_services/formal_verification/requirements.txt
  services/platform_services/formal_verification/tests/test_adversarial_robustness.py
Owners: @acgs-devops-team, @acgs-security-team, @acgs-maintainers, @acgs-platform-team, @acgs-docs-team, @acgs-qa-team

feat: optimize GitHub Actions workflows with comprehensive improvements
  .github/workflows/CLEANUP_REPORT.md
  .github/workflows/OPTIMIZATION_REPORT.md
  .github/workflows/acgs-optimized-ci.yml
  .github/workflows/security-scan.yml
  .github/workflows/test-coverage.yml
  cleanup_workflows.sh
  scripts/workflow_cleanup.py
Owners: @acgs-devops-team, @acgs-security-team, @acgs-maintainers, @acgs-platform-team

fix: resolve GitHub Actions workflow errors and dependencies
  .github/workflows/CLEANUP_REPORT.md
  .github/workflows/acgs-optimized-ci.yml
  .github/workflows/test-coverage.yml
  cleanup_workflows.sh
Owners: @acgs-devops-team, @acgs-security-team, @acgs-maintainers

docs: add comprehensive error fixes report
  .github/workflows/ERROR_FIXES_REPORT.md
Owners: @acgs-devops-team, @acgs-security-team

feat: add self-hosted runner optimization guide and migration tool
  .github/workflows/SELF_HOSTED_RUNNER_GUIDE.md
  scripts/migrate_runners.py
Owners: @acgs-devops-team, @acgs-security-team, @acgs-platform-team

feat: Add comprehensive ACGS-2 documentation system
  .github/workflows/PHASE1_MIGRATION_REPORT.md
  .github/workflows/PHASE2_MIGRATION_REPORT.md
  .github/workflows/RUNNER_MIGRATION_REPORT_20250711_135653.md
  .github/workflows/advanced-caching.yml
  .github/workflows/cost-monitoring.yml
  .github/workflows/daily-metrics-collection.yml
  .github/workflows/dependency-update.yml
  .github/workflows/fixed-connectivity-check.yml
  .github/workflows/quality-gates.yml
  .github/workflows/test-automation-enhanced.yml
  claude.md
  config/claude.md
  database/claude.md
  docs/claude.md
  infrastructure/claude.md
  monitoring/claude.md
  reports/claude.md
  services/core/claude.md
  services/core/constitutional-ai/claude.md
  services/core/formal-verification/claude.md
  services/platform_services/claude.md
  tests/claude.md
  tools/claude.md
  validation_results/claude.md
Owners: @acgs-devops-team, @acgs-security-team, @acgs-maintainers, @acgs-platform-team, @acgs-data-team, @acgs-docs-team, @acgs-sre-team, @acgs-operations-team, @acgs-compliance-team, @acgs-qa-team, @acgs-service-owners

feat: Add multi-agent coordinator application components
  services/core/multi_agent_coordinator/app/sentry_agent_monitoring.py
Owners: @acgs-maintainers

feat: Complete ACGS-2 phased improvement plan with exceptional performance achievements
  .augment/rules/rule.md
  README.md
  docs/ACGS_PERFORMANCE_OPTIMIZATION_PLAN.md
  docs/ACGS_TEST_COVERAGE_IMPROVEMENT_STRATEGY.md
  docs/README.md
  docs/TECHNICAL_SPECIFICATIONS_2025.md
  docs/api/API_GUIDELINES.md
  docs/development/CODE_STYLE.md
  docs/research/arxiv_submission_package/main.aux
  docs/research/arxiv_submission_package/main.bbl
  docs/research/arxiv_submission_package/main.out
  docs/research/arxiv_submission_package/main.pdf
  docs/research/arxiv_submission_package/main.tex
  main.pdf
  reports/ACGS_DOCUMENTATION_VERIFICATION_REPORT_2025.md
  reports/ACGS_PHASED_IMPROVEMENT_COMPLETION_REPORT.md
  reports/DOCUMENTATION_UPDATE_SUMMARY.md
  reports/MAIN_PDF_UPDATE_SUMMARY.md
  scripts/ci_cd/automated_documentation_validator.py
  scripts/performance/optimize_connection_pools.py
  scripts/performance/service_performance_test.py
  services/core/constitutional-ai/ac_service/Dockerfile.production
  services/core/constitutional-ai/ac_service/ENHANCED_GOVERNANCE_README.md
  services/core/constitutional-ai/ac_service/PRODUCTION_DEPLOYMENT_GUIDE.md
  services/core/constitutional-ai/ac_service/app/api/v1/enhanced_governance.py
  services/core/constitutional-ai/ac_service/app/config/app_config.py
  services/core/constitutional-ai/ac_service/app/services/enhanced_governance_framework.py
  services/core/constitutional-ai/ac_service/app/services/governance_monitoring.py
  services/core/constitutional-ai/ac_service/app/services/production_governance_framework.py
  services/core/constitutional-ai/ac_service/monitoring/prometheus-alerts.yml
  services/core/constitutional-ai/ac_service/requirements-production.txt
  services/core/constitutional-ai/ac_service/test_enhanced_governance_simple.py
  services/core/constitutional-ai/ac_service/tests/test_enhanced_governance_framework.py
  services/core/constitutional-ai/ac_service/tests/test_enhanced_governance_integration.py
  services/core/constitutional-ai/ac_service/tests/test_production_governance.py
  tests/test_auth_service.py
  tests/unit/test_operational_services_focused.py
Owners: @acgs-maintainers, @acgs-docs-team, @acgs-platform-team, @acgs-api-team, @acgs-service-owners, @acgs-devops-team, @acgs-performance-team, @acgs-sre-team, @acgs-qa-team, @acgs-security-team, @acgs-compliance-team

fix: resolve GitHub Actions workflow issues after runner migration
  .github/workflows/acgs-ci-cd.yml
  .github/workflows/acgs-comprehensive-testing.yml
  .github/workflows/acgs_comprehensive_ci.yml
  .github/workflows/ci_cd_20250701_000659.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/continuous-security-scanning.yml
  .github/workflows/cross-reference-validation.yml
  .github/workflows/deploy-with-sentry-release.yml
  .github/workflows/deployment-validation.yml
  .github/workflows/documentation-quality.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/performance-monitoring.yml
  .github/workflows/security-scan.yml
  .github/workflows/testing.yml
  .github/workflows/validation-full.yml
  .github/workflows/workflow-coordinator.yml
  README.md
  requirements.txt
Owners: @acgs-devops-team, @acgs-security-team, @acgs-performance-team, @acgs-sre-team, @acgs-docs-team, @acgs-platform-team

fix: add missing enterprise scripts to resolve workflow failures
  scripts/cicd/deployment_gates.py
  scripts/enterprise/failure-analysis.sh
  scripts/enterprise/performance-monitor.sh
Owners: @acgs-platform-team, @acgs-devops-team, @acgs-performance-team, @acgs-sre-team

Fix GitHub Actions workflows and add missing dependencies - Constitutional Hash: cdd01ef066bc6cf2
  .github/workflows/acgs-ci-cd.yml
  .github/workflows/docker-build-push.yml
  .github/workflows/performance-monitoring.yml
  .github/workflows/production-deploy.yml
  .github/workflows/testing.yml
  acgs-interactive-website.html
  scripts/continuous-improvement/ci-cd-integration.sh
  scripts/performance/establish_baseline.py
  scripts/security/external_security_audit.py
  services/core/constitutional-ai/ac_service/requirements.txt
  services/core/governance-synthesis/gs_service/requirements.txt
  services/core/policy-governance/pgc_service/requirements.txt
  tests/performance/automated_performance_suite.py
Owners: @acgs-devops-team, @acgs-security-team, @acgs-performance-team, @acgs-sre-team, @acgs-maintainers, @acgs-platform-team, @acgs-qa-team, @acgs-service-owners

Add comprehensive GitHub Actions workflow failures review report
  github_actions_workflow_failures_review.md
Owners: @acgs-maintainers

Fix workflow configurations with enhanced error handling and fallbacks
  .github/workflows/ci_cd_20250701_000659.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/documentation-quality.yml
  .github/workflows/workflow-coordinator.yml
  WORKFLOW_FIXES_SUMMARY.md
Owners: @acgs-devops-team, @acgs-security-team, @acgs-maintainers

chore(deps): update vulnerable dependencies
  requirements-updated.txt
Owners: @acgs-security-team, @acgs-platform-team

Fix workflow configurations with enhanced error handling and fallbacks (#262)
  .github/workflows/ci_cd_20250701_000659.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/documentation-quality.yml
  .github/workflows/workflow-coordinator.yml
  WORKFLOW_FIXES_SUMMARY.md
Owners: @acgs-devops-team, @acgs-security-team, @acgs-maintainers

Fix GitHub Actions workflow YAML syntax and indentation issues
  .github/workflows/ci-uv.yml
  .github/workflows/security-scanning.yml
  .github/workflows/test-automation-enhanced.yml
  GITHUB_ACTIONS_FIXES_SUMMARY.md
Owners: @acgs-devops-team, @acgs-security-team, @acgs-maintainers

.github/CODEOWNERS:

# ACGS Code Owners - Documentation Review Requirements
# Constitutional Hash: cdd01ef066bc6cf2
#
# This file defines mandatory reviewers for different parts of the ACGS codebase
# to ensure proper documentation review and constitutional compliance.
#
# Format: path/pattern @reviewer1 @reviewer2
#
# Global fallback - requires at least one review for any change
* @acgs-maintainers

# Documentation - Requires documentation team review
docs/ @acgs-docs-team @acgs-platform-team
README.md @acgs-docs-team @acgs-platform-team

# Configuration Documentation - Requires platform and security review
docs/configuration/ @acgs-platform-team @acgs-security-team
docs/deployment/ @acgs-devops-team @acgs-platform-team

# API Documentation - Requires API team and service owner review
docs/api/ @acgs-api-team @acgs-service-owners

# Operations Documentation - Requires SRE and operations team review
docs/operations/ @acgs-sre-team @acgs-operations-team

# Architecture Documentation - Requires architecture team review
docs/architecture/ @acgs-architecture-team @acgs-platform-team

# Security Documentation - Requires security team review
docs/security/ @acgs-security-team @acgs-compliance-team

# Infrastructure - Requires DevOps and security review
infrastructure/ @acgs-devops-team @acgs-security-team
docker-compose*.yml @acgs-devops-team @acgs-platform-team
Dockerfile* @acgs-devops-team @acgs-security-team

# Service Configuration - Requires service owners and platform review
services/*/config/ @acgs-service-owners @acgs-platform-team
services/*/docker/ @acgs-devops-team @acgs-service-owners

# Core Services - Requires service-specific review
services/auth/ @acgs-auth-team @acgs-security-team
services/constitutional_ai/ @acgs-ai-team @acgs-security-team
services/integrity/ @acgs-integrity-team @acgs-security-team
services/formal_verification/ @acgs-verification-team @acgs-security-team
services/governance_synthesis/ @acgs-governance-team @acgs-security-team
services/policy_governance/ @acgs-policy-team @acgs-security-team
services/evolutionary_computation/ @acgs-evolution-team @acgs-performance-team

# Configuration Files - Requires platform and security review
config/ @acgs-platform-team @acgs-security-team
*.env* @acgs-security-team @acgs-platform-team
pyproject.toml @acgs-platform-team @acgs-devops-team
pytest.ini @acgs-qa-team @acgs-platform-team

# GitHub Workflows - Requires DevOps and security review
.github/workflows/ @acgs-devops-team @acgs-security-team
.github/CODEOWNERS @acgs-platform-team @acgs-security-team

# Performance and Monitoring - Requires SRE team review
monitoring/ @acgs-sre-team @acgs-operations-team
grafana/ @acgs-sre-team @acgs-operations-team
prometheus/ @acgs-sre-team @acgs-operations-team

# Database - Requires data team and security review
database/ @acgs-data-team @acgs-security-team
migrations/ @acgs-data-team @acgs-platform-team

# Scripts and Tools - Requires platform team review
scripts/ @acgs-platform-team @acgs-devops-team
tools/ @acgs-platform-team @acgs-devops-team

# Validation Tools - Requires documentation and platform review
tools/validation/ @acgs-docs-team @acgs-platform-team

# Security-sensitive files - Requires security team review
**/secrets/ @acgs-security-team
**/certs/ @acgs-security-team
**/keys/ @acgs-security-team

# Constitutional Compliance Files - Requires security and compliance review
**/*constitutional* @acgs-security-team @acgs-compliance-team
**/*compliance* @acgs-security-team @acgs-compliance-team

# Performance-critical files - Requires performance team review
**/*performance* @acgs-performance-team @acgs-sre-team
**/*benchmark* @acgs-performance-team @acgs-qa-team

# Test files - Requires QA team review
tests/ @acgs-qa-team @acgs-service-owners
**/test_* @acgs-qa-team
**/*_test.* @acgs-qa-team

# Package and dependency files - Requires security review
requirements*.txt @acgs-security-team @acgs-platform-team
package*.json @acgs-security-team @acgs-platform-team
Pipfile* @acgs-security-team @acgs-platform-team
poetry.lock @acgs-security-team @acgs-platform-team

# License and legal files - Requires legal review
LICENSE* @acgs-legal-team
NOTICE* @acgs-legal-team
COPYRIGHT* @acgs-legal-team

# Release and changelog files - Requires product and platform review
CHANGELOG* @acgs-product-team @acgs-platform-team
RELEASE* @acgs-product-team @acgs-platform-team

# Team Definitions (GitHub teams should be created to match these)
#
# @acgs-maintainers - Core maintainers with overall repository access
# @acgs-docs-team - Documentation team responsible for content quality
# @acgs-platform-team - Platform engineering team
# @acgs-security-team - Security engineering team
# @acgs-devops-team - DevOps and infrastructure team
# @acgs-api-team - API design and integration team
# @acgs-service-owners - Service owners and developers
# @acgs-sre-team - Site reliability engineering team
# @acgs-operations-team - Operations and support team
# @acgs-architecture-team - Architecture and design team
# @acgs-compliance-team - Compliance and audit team
# @acgs-auth-team - Authentication service team
# @acgs-ai-team - Constitutional AI service team
# @acgs-integrity-team - Integrity service team
# @acgs-verification-team - Formal verification service team
# @acgs-governance-team - Governance synthesis service team
# @acgs-policy-team - Policy governance service team
# @acgs-evolution-team - Evolutionary computation service team
# @acgs-performance-team - Performance engineering team
# @acgs-qa-team - Quality assurance team
# @acgs-data-team - Data engineering team
# @acgs-legal-team - Legal and compliance team
# @acgs-product-team - Product management team

# Constitutional Hash Validation
# All changes must maintain constitutional hash: cdd01ef066bc6cf2
# Security team has override authority for constitutional compliance issues
